# Example .env file

DATABASE_URL="postgresql://user:password@host:port/database?sslmode=require"

# A complex, random string used to sign JWTs for session authentication.
# You can generate one here: https://generate-secret.vercel.app/32
JWT_SECRET=""

# The password to access the /admin dashboard.
ADMIN_PASSWORD=""